* {
    margin: 0px;
    padding: 0%;
  }
  body {
    background-color:lightslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .header {
    height: auto;
    width: 100%;
    background-color: gray;
    background-position: center;
    background-size: cover;
    position: relative;
    border-style: solid;
    border-color: silver;
    
  }
  
  .nav-links {
    text-align: end;
  }
  .image {
    border-style: solid;
    border-color: mediumseagreen;
    float: right;
  }
  #usaf {
    float: right;
    margin: 0 0 0 15px;
  }
  .footer {
    height: 30px;
    width: 100%;
    border-top-style: solid;
    border-top-color: silver;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .footer-links ul li{
    display: inline-block;
    padding-block-start: 0%;
    margin-top: 5px;
    margin-left: 10%;
  }